.product-item {
  width: 100%;
}

.product-item__container {
  margin-bottom: $global-margin / 2;
}

.product-item__main-content {
  margin-bottom: $global-margin / 3;
}

.product-item__main-img {
  position: relative;
  margin: 0 auto;
  max-width: 580px;
  margin-bottom: $global-margin / 3;
  padding: 0;
  text-align: center;

  img {
    @include responsive-img;
  }
}

.product-item__new {
  position: absolute;
  top: -5px;
  right: 30px;
  display: block;
  margin: 0;
  width: 55px;
  height: 55px;
  font-size: 2rem;
  text-align: center;
  line-height: 55px;
  font-weight: $global-weight-bold;
  color: $white;
  background-color: $primary-color;
  border-radius: 	100%;
  transform: rotate(-15deg);
}

.product-item__captions {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.product-item__price {
  display: block;
  margin: 0;
  font-size: 2.2rem;
  font-weight: $global-weight-bold;
  color: $black;
}

.product-item__name {
  display: block;
  padding: 5px 15px;
  font-size: 2.4rem;
  border-radius: $global-radius;
  border-top-left-radius: 0;
  font-family: $heading-font-family;
  background-color: $secondary-color;
  color: $white;
}


.product-item__text {
  display: block;
  margin: 0;
}

.product-item__descr {
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
  margin-bottom: $global-margin / 3;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-item__descr-item {
  width: span(3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item__descr-name {
  display: block;
  margin: 0;
  line-height: $heading-line-height;
  margin-bottom: $global-margin / 8;
  text-align: center;
  font-weight: $global-weight-semi-bold;
}

.product-item__descr-img {
  margin: 0;
  padding: 0;
  text-align: center;

  img {
    @include responsive-img();
    
  }
}

@include susy-at($xsmall) {

  .product-item__new {
    font-size: 2.2rem;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .product-item__price {
    font-size: 2.4rem;
  }

  .product-item__name {
    font-size: 2.6rem;
  }
}

@include susy-at($small) {

  .product-item__new {
    font-size: 2.6rem;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  .product-item__price {
    font-size: 2.8rem;
  }

  .product-item__name {
    font-size: 3rem;
  }
}

@include susy-at($medium) {

  .product-item__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .product-item__descr {
    max-width: 100%;
    width: span(3);
    display: block;
    margin: 0;
    order: 1;

    &:last-child {
      order: 3;
    }
  }

  
  .product-item__descr-item {
    width: 100%;
    margin-bottom: $global-margin / 2;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .product-item__main-content {
    margin: 0;
    width: span(6);
    order: 2;
  }

  .product-item__main-img {
    max-width: 100%;
  }

}

@include susy-at($large) {

  .product-item__price {
    font-size: 3.4rem;
  }

  .product-item__new {
    font-size: 2.8rem;
    width: 75px;
    height: 75px;
    line-height: 75px;
  }

  .product-item__name {
    font-size: 3.2rem;
  }

  .product-item__descr {
    max-width: 320px;
  }

}
