.back-lnk {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    
    .back-lnk__text {
      color: $secondary-color;
    }

    .back-lnk__icon {
      background-color: $secondary-color;
    }
  }
}

.back-lnk__icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  flex: 0 0 auto;
  font-size: 3.2rem;
  // line-height: 60px;
  text-align: center;
  border-radius: 100%;
  background-color: $primary-color;
  transition: $global-transition;
  
  svg {
    @include svg-icon();
    fill: $white;
  }

}

.back-lnk__text {
  flex: 1 1 auto;
  text-decoration: none;
  color: $black;
  font-weight: $global-weight-semi-bold;
  // font-size: 1.8rem;
  transition: $global-transition;
}

@include susy-at($medium) {

  .back-lnk__icon {
    width: 50px;
    height: 50px;
    font-size: 3.4rem;
  }

}