// Nav Toggle
// ==========================
//

.nav-toggle {
	@include btn();
	background-color: transparent;
	display: block;
	font-size: 3.65rem;
	transition: $global-transition;

	svg {
		@include svg-icon();
		fill: $white;
	}

	&:hover,
	&:focus {

		svg {
			fill: $primary-color;
		}
	}

}

@include breakpoint(large) {

	.nav-toggle {
		display: none;
	}

}

