.features {
  padding: $global-padding 0 0;
}

.features__slider {
  display: block;
  position: relative;
  z-index: 0;
}

.features__container {

}

.features__item {
  position: relative;
  padding: $global-padding 0;
}

.features__item-wrap {
  @include container();
}

.features__item-content {

}

.features__item-img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: $dark-gray;
  background-size: cover;

  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    @include gradient-y(rgba($black, 0), rgba($black, 100%));
  }
}

.features__item-icon {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: $global-margin / 2;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-size: 6rem;
  border-radius: 100%;
  background-color: $secondary-color;

  svg {
    @include svg-icon();
    // fill: $primary-color;
    fill: $white;
  }
}

.features__item-list {
  @include reset-list();
  display: block;
}

.features__item-elem {
  position: relative;
  padding-left: 30px;
  display: block;
  margin-bottom: $global-margin / 12;
  color: $white;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: url("../img/paw.svg") no-repeat scroll center center;
    background-size: contain;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@include susy-at($small) {

  .features {
    padding: $global-padding * 1.5 0 0;
  }

  .features__item {
    padding: $global-padding * 1.5  0;
  }

  .features__item-icon {
    width: 90px;
    height: 90px;
    font-size: 8rem;
  }

  .features__item-content {
    padding-left: span(3);
  }

}

// .features__nav {
//   @include container();
//   display: flex;
//   align-items: stretch;
// }

// .features__nav-item {
//   display: block;
//   margin-right: 15px;
//   text-align: center;
//   font-size: 6rem;

//   svg {
//     @include svg-icon();
//     fill: red;
//   }
// }

@include susy-at($large) {

  .features {
    padding: $global-padding  * 2 0 0;
  }

  .features__item {
    padding: $global-padding * 2.5 0;
  }

  .features__item-icon {
    width: 110px;
    height: 110px;
    font-size: 8rem;
  }

  .features__item-elem {
    font-size: 1.8rem;

    &:after {
      width: 22px;
      height: 22px;
    }
  }

  .features__item-content {
    padding-left: span(8);
  }

}

@include susy-at($xlarge) {

  .features {
    padding: $global-padding  * 2.5 0 0;
  }

}